/*navbar*/
.nav {
    display: flex;
    justify-content: space-between;
    background-color: #cdf9ff;
}
/*title*/

.bg-title{
    background: radial-gradient(#cdf9ff, 	#c3fbf9);
}

.gambar-profil {
    float: right;
    margin-right: 400px;
    width: 200px;
    margin-left: 20px;
}

.sub-desc {
    float: right;
    width: 300px;
    text-align: right;
    font-weight: bold;
    font-size: 30px;
}

/*bio*/

.bg-bio {
    
}

.sub-tittle {
    font-weight: bold;
    font-size: 32px;
    margin-left: 10px;
}

.bio {
    font-size: 28px;
    margin-left: 10px;
}


/*content*/

.judul {
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.box-kiri {
    margin: 10px;
    align-items: flex-end;
    display: flex;
    align-items: flex-end;
}

.box-kanan {
    margin: 10px;
    align-items: flex-end;
    display: flex;
    align-items: flex-end;
    align-self: flex-end;
}

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.line {
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 270px;
    width: 300px;
}

.desc {
    display: flex;
    align-items: center;
    height: 270px;
    width: 900px;
    font-size: 24px;
    margin: 20px;
}

.word {
    text-align: center;
    display: flex;
}

/*kontak*/



.bg-satu {
    background: linear-gradient(#A64D79, #6A1E55);
}

.text {
    height: 270px;
    width: 500px;
}

.clear {
    clear: both;
}

/* .menu a {
    text-decoration: none;
    color: #faf9f6;
} */

*{
    margin: 0%;
}